@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Bonbon&family=Delius&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.homePageGridContainer {
    justify-content: center;
    color: #fff;
    padding: 5vw 8vw;
}

.homePageGrid {
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.homePageGridContainer .homePageGrid:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.homePageGridBox {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 100px;
    font-size: 12px;
    opacity: 0.8;
}

.odd1 {
    background: linear-gradient(rgb(255, 105, 180), violet);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.05);
}

.even {
    transform: translate(300px, -50px);
    background: linear-gradient(limegreen, green);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.05);
}

.odd2 {
    transform: translateY(-100px);
    background: linear-gradient(violet, indigo);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.05);
}

.homePageGridBoxImg {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -25px;
    left: -25px;
    border: 1px solid #fff;
    border-radius: 100%;
}

.homePageGridBoxPara {
    position: relative;
    padding: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.homePageGridFire {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
}

.homePageGridBtnDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

#homePageFire {
    height: 100px;
    width: 100px;
    filter: brightness(0) saturate(100%) invert(45%) sepia(89%) saturate(1000%) hue-rotate(10deg) brightness(100%);
}

#homePageGridSwipeHeading {
    font-size: 3rem;
    /* font-family: "Roboto", sans-serif; */
    font-weight: 400;
    /* font-style: italic; */
}

.HomePageGridSwipePara {
    margin: 2rem 0;
    font-size: 1rem;
}

@media only screen and (max-width:600px) {
    #homePageGridSwipeHeading{
        font-size: 2rem;
        font-weight: 400;
    }
    #homePageFire {
        height: 70px;
        width: 70px;
    }

}

@media only screen and (max-width: 1300px) {
    .homePageGridBox {
        width: 100%;
    }

    .even {
        transform: translate(0, 0);
    }

    .odd2 {
        transform: translate(0, 0);
    }

}